* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* -------------------------- INICIO DO HEADER -------------------------- */
header {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

header h1 {
    color: #000000;
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}

header span {
    font-size: 16px;
    display: block;
    font-weight: 800;
}

.text-container-title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
    top: 50px;
}

#reinaldinho {
    width: 180px;
    position: absolute;
}

#reis {
    width: 160px;
    position: absolute;
    left: 150px;
}

#felipe {
    width: 250px;
    position: absolute;
    top: -110px;
    left: -50px;
}

footer {
    display: flex;
    flex-direction: row;
}

.footer-title {
    color: #001c3b;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* -------------------------- FIM DO HEADER -------------------------- */

/* -------------------------- INICIO DO PAINEL -------------------------- */
.painel {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.painel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    border-radius: 10px;
    background-color: #f3f3f3;
    /* background: linear-gradient(135deg, #f0f0f0, #e0e0e0); */
    padding: 20px;
    gap: 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.painel-header-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: #232323;
}

.painel-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.group-candidato {
    display: flex;
    flex-direction: column;
}

.group-geral {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.eleitores-container {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    gap: 1rem;
}

.eleitores {
    background-color: rgba(30, 144, 255);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.eleitor-information {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.eleitor-information span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.group-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    color: #232323;
}

.votos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
    /* background-color: #f3f3f3; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
}

.voto {
    background-color: rgba(30, 144, 255);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 15px rgba(30, 144, 255, 0.5);
    /* Brilho suave */
    transition: box-shadow 0.3s ease-in-out;
}

.voto-information {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.voto-information span {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: block;
}

#total-votos-apurados {
    background-color: #05c46b;
    box-shadow: 0 0 15px rgba(5, 196, 107, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    width: 760px;
}

#nao-apurado {
    background-color: #f53b57;
    box-shadow: 0 0 15px rgba(245, 59, 87, 0.5);
    /* Brilho suave */
    transition: box-shadow 0.3s ease-in-out;
}

#eleitor-faltante {
    background-color: #f39c12; /* Laranja Forte */
    box-shadow: 0 0 15px rgba(243, 156, 18, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

#secoes-apuradas {
    background-color: #9f44d3; /* Roxo Pastel */
    box-shadow: 0 0 15px rgba(159, 68, 211, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

#eleitor-faltante:hover {
    box-shadow: 0 0 25px rgba(243, 156, 18, 0.8);
    /* Realce ao passar o mouse */
}

#secoes-apuradas:hover {
    box-shadow: 0 0 25px rgba(159, 68, 211, 0.8);
    /* Realce ao passar o mouse */
}

#nao-apurado:hover {
    box-shadow: 0 0 25px rgba(245, 59, 87, 0.8);
    /* Realce ao passar o mouse */
}

#total-votos-apurados:hover {
    box-shadow: 0 0 25px rgba(5, 196, 107, 0.8);
    /* Realce ao passar o mouse */
}

.voto:hover {
    box-shadow: 0 0 25px rgba(30, 144, 255, 0.8);
    /* Realce ao passar o mouse */
}
#voto-legenda {
    background-color: #2c3e50; /* Preto */
    box-shadow: 0 0 15px rgba(44, 62, 80, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}
#voto-legenda:hover {
    box-shadow: 0 0 25px rgba(44, 62, 80, 0.8);
}

/* -------------------------- FIM DO PAINEL -------------------------- */

.legend {
    
    column-count: 2;
    flex-wrap: wrap;
    padding-left: 100px;
}
.legend-2 {
    column-count: 2;
    padding-left: 100px;
}

.legend p {
    
    display: flex;
    align-items: center;
    font-size: 19px;
    margin: 2px 0;
    
}

.legend-2 p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 5px 0;
}

.square {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #ffffff;
}

.last-update-title {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.last-update-time {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.chart {
    width: 700px;
    height: 760px;
    padding: 2rem;
    border: 1px solid #aaa9a9;
    border-radius: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    margin-top: 20px;
}

.charts-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: center;
}

#piechart-prefeitos {
    text-transform: capitalize;
    z-index: 2;
}

option {
    text-transform: capitalize;
}

/* -------------------------- INICIO DO FILTRO PRINCIPAL -------------------------- */
.custom-select {
    min-width: 350px;
    position: relative;
    margin-top: 2rem;
}

.custom-select select {
    appearance: none;
    width: 100%;
    max-width: 350px;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.pref p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.pref h2 {
    text-align: center;
}

/* -------------------------- FIM DO FILTRO PRINCIPAL -------------------------- */

footer {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px 0;
}

/* -------------------------- INICIO DO BUSQUE VEREADOR -------------------------- */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search {
    width: 700px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    /* Alinha os itens em coluna */
    /* align-items: center; */
    justify-content: center;
    /* Centraliza verticalmente, se necessário */
}

.search-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.form label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-search-vereador {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
    color: #4b4b4b;
}

.button-submit-vereador:hover,
.input-search-vereador:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
}

.button-submit-vereador {
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: white;
    background: rgb(97, 185, 85);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.error-message {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #fce8db;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    font-weight: 500;
    font-size: 14px;
    color: #71192f;
}

.button-download-pdf {
    margin-top: 20px;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}

.button-download-pdf:hover {
    background-color: #3a6ebd;
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.button-download-pdf:focus,
.button-download-pdf:active {
    opacity: 0.85;
    box-shadow: none;
}

.section-table {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #f1f1f1;
}

tr {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #f1f1f1;
}

td {
    font-weight: 400;
    font-size: 14px;
}

thead {
    background-color: #f5f5f5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.councilor-information {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* Alinha os itens no topo, mantendo uma linha base */
    justify-content: space-between;
    /* Centraliza os itens horizontalmente */
    gap: 2rem;
    /* Aumenta o espaço entre os itens */
    margin-bottom: 20px;
    /* Aumenta a margem inferior para mais espaçamento */
    flex-wrap: wrap;
    /* Ajusta os itens em várias linhas se necessário */
    padding: 10px;
    /* Adiciona espaçamento interno ao container */
}

.councilor-information-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha o conteúdo à esquerda dentro dos itens */
    justify-content: center;
    background-color: #f5f5f5;
    /* Adiciona uma cor de fundo para destacar os itens */
    border-radius: 5px;
    /* Bordas arredondadas para um visual mais suave */
    padding: 15px;
    /* Espaçamento interno para evitar que o conteúdo fique colado nas bordas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Adiciona uma leve sombra para destacar os itens */
    width: 300px;
    /* Define uma largura consistente para os itens */
    min-width: 200px;
    /* Define uma largura mínima */
}

.councilor-information-items-title {
    font-size: 16px;
    font-weight: 500;
}

.councilor-information-items-subtitle {
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    /* Garante que o texto se ajuste ao tamanho do item */
}

.autocomplete-items {
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #ddd;
}

/* -------------------------- FIM DO BUSQUE VEREADOR -------------------------- */

/* -------------------------- INICIO DA RESPONSIVIDADE MOBILE -------------------------- */
/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
    .councilor-information {
        flex-direction: column;
        /* Empilha os itens verticalmente no mobile */
        gap: 1rem;
        /* Reduz o espaço entre os itens para compactar mais */
    }

    .councilor-information-items {
        flex-direction: row;
        /* Coloca os itens em linha no mobile */
        align-items: center;
        /* Centraliza verticalmente os itens em uma linha */
        justify-content: space-between;
        /* Adiciona espaçamento entre os itens */
        width: 100%;
        /* Faz os itens ocuparem a largura total da tela */
        padding: 10px;
        /* Ajusta o padding para ser mais compacto */
    }

    .councilor-information-items-title,
    .councilor-information-items-subtitle {
        margin-bottom: 0;
        /* Remove o espaçamento entre título e subtítulo no mobile */
    }
}

@media (min-width: 320px) and (max-width: 440px) {
    #reis {
        left: 120px;
    }

    #felipe {
        left: -80px;
    }

    #reinaldinho {
        left: 30px;
    }

    .verea {
        margin: 0;
    }

    header p {
        font-size: 20px;
        padding-left: 40px;
    }

    .chart h2 {
        font-size: 15px;
        text-align: center;
        padding-top: 10px;
    }

    .chart {
        max-width: 350px;
        height: 450px;
        padding: 0;
    }

    .chart canvas {
        padding: 0;
    }
    .pref h2 {
        padding-top: 10px;
    }
    .legend {
        column-count: 2;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-top: 20px;
    }
    .legend-2 {
        column-count: 2;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .legend p {
        
        display: flex;
        align-items: center;
        font-size: 13px;
        margin: 2px 0;
        
    }
    
    .legend-2 p {
        display: flex;
        align-items: center;
        font-size: 13px;
        margin: 5px 0;
    }
    canvas {
        width: 100% !important;
        height: auto !important;
    }

    .charts-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* Isso permitirá que os gráficos se ajustem ao tamanho da tela */
    }

    .teste {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .search {
        max-width: 350px;
    }

    #piechart-prefeitos {
        width: 50%;
        height: 800px;
        padding: 10px;
    }

    #piechart-prefeitos-geral {
        width: 50%;
        height: 100%;
        padding: 10px;
    }

    #total-votos-apurados {
        width: 310px;
    }
}

/* -------------------------- FIM DA RESPONSIVIDADE MOBILE -------------------------- */
/* No desktop, o painel de contagem de votos fica no topo */
@media (min-width: 768px) {
    .container {
        flex-direction: column;
        /* O painel fica acima */
    }

    .accountant {
        order: -1;
        /* Exibe o painel de contagem de votos no topo */
    }

    .painel {
        order: -1;
        /* Exibe o painel de contagem de votos no topo */
    }
}

/* Layout para telas pequenas (mobile) */
@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    /* No mobile, o gráfico vem primeiro e o painel abaixo */
    .chart-container {
        order: 1;
        /* Gráfico no topo */
    }

    .painel {
        order: 0;
        /* Painel abaixo do gráfico */
    }

    .painel-container {
        max-width: 350px;
    }
}

/* CSS para forçar o layout de desktop ao gerar o PDF */
@media print {
    body {
        width: 1000px;
        /* Forçar o layout de desktop para PDF */
    }
}
