* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* -------------------------- INICIO DO HEADER -------------------------- */
header {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

header h1 {
    color: #000000;
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}

header span {
    display: block;
    font-weight: 700;
}

.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
    top: 50px;
}

#reinaldinho {
    width: 180px;
    position: absolute;
}
#reis {
    width: 160px;
    position: absolute;
    left: 150px;
}
#felipe {
    width: 250px;
    position: absolute;
    top: -110px;
    left: -50px;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* -------------------------- FIM DO HEADER -------------------------- */

.accountant {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.accountant-container {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
    max-width: 360px;
}
.accountant-header {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
.accountant-numbers-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.accountant-text h1 {
    font-size: 22px;
}
.accountant-type-voto {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.accountant-number {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.accountant-numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 1rem;
    flex-wrap: wrap;
}
.accountant-items {
    display: flex;
    gap: 0.5rem;
    background-color: #6da9f7;
    border-radius: 5px;
    padding: 0.5rem;
}
.last-update-title{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.last-update-time{
    font-size: 12px;
    font-weight: 500;
    text-align: center;

}

/* -------------------------- INICIO DO SUB-FILTROS -------------------------- */

#subfilter-container,
#regiao-subfilter-container,
#school-filter-container {
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

#bairro-subfilter-select,
#regiao-subfilter-select,
#escola-subfilter-select {
    appearance: none;
    width: 100%;
    max-width: 350px;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#bairro-subfilter-select::before,
#bairro-subfilter-select::after,
#regiao-subfilter-container::before #regiao-subfilter-container::after,
#school-filter-container::before,
#school-filter-container::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

#bairro-subfilter-select::before,
#regiao-subfilter-container::before,
#school-filter-container::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

#bairro-subfilter-select::after,
#regiao-subfilter-container::after,
#school-filter-container::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}
/* -------------------------- FIM DO SUB-FILTROS -------------------------- */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
.chart {
    width: 700px;
    height: 720px;
    padding: 2rem;
    border: 1px solid #aaa9a9;
    border-radius: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    margin-top: 15px;
}
.charts-container {
    display: flex;
    flex-direction: row; /* Alterado de column para row */
    gap: 2rem;
    flex-wrap: wrap; /* Isso permitirá que os gráficos se ajustem ao tamanho da tela */
    padding-bottom: 50px;
    justify-content: center;
}
#piechart-prefeitos {
    text-transform: capitalize;
}

option {
    text-transform: capitalize;
}
/* -------------------------- INICIO DO FILTRO PRINCIPAL -------------------------- */
.custom-select {
    min-width: 350px;
    position: relative;
    margin-top: 2rem;
}
.custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}
.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}
.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}
.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}
/* -------------------------- FIM DO FILTRO PRINCIPAL -------------------------- */

footer {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px 0;
}
/* -------------------------- INICIO DO BUSQUE VEREADOR -------------------------- */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}
.search {
    width: 100%;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 15px;
}
.search-container h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.form label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.input-search-vereador {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4b4b4b;
}
.button-submit-vereador:hover,
.input-search-vereador:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
}
.button-submit-vereador {
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: white;
    background: rgb(97, 185, 85);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.error-message {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #fce8db;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    font-weight: 500;
    font-size: 14px;
    color: #71192f;
}

.search-container h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

/* -------------------------- FIM DO BUSQUE VEREADOR -------------------------- */

/* -------------------------- INICIO DA RESPONSIVIDADE MOBILE -------------------------- */

@media (min-width: 320px) and (max-width: 430px) {
    #reis {
        left: 120px;
    }
    #felipe {
        left: -80px;
    }
    #reinaldinho {
        left: 30px;
    }

    .verea {
        margin: 0;
    }

    header p {
        font-size: 20px;
        padding-left: 40px;
    }

    .chart h2 {
        font-size: 15px;
        text-align: center;
    }
    .chart {
        max-width: 350px;
        height: 450px;
    }
    /* canvas {
        #piechart-prefeitos{
            width: 340px !important;
            height: 340px !important;
        }
    }
    /* canvas #piechart-prefeitos{
        width: 340px !important;
        height: 350px !important;
    } */ */

    .charts-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Isso permitirá que os gráficos se ajustem ao tamanho da tela */
    }
}
/* -------------------------- FIM DA RESPONSIVIDADE MOBILE -------------------------- */
