* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
header {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

header h1 {
    color: #2c2c2c;
    font-size: 24px;
    text-align: center;
}


/*
header img {
    max-width: 100%;
    height: auto;
    padding-top: 100px;
} */
.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
    top: 50px;
}
.instructions {
    margin-top: 20px;
    width: 400px;
    max-width: 360px;
}
.instructions h2 {
    text-align: center;
    padding: 10px 0 0 10px;
    color: rgba(0, 129, 255, 0.989233193277311);
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}
.instructions h4 {
    text-align: justify;
    padding: 0 10px 3px 10px;
    font-weight: 600;
    font-size: 15px;
}
.instructions span {
    color: rgba(255, 0, 0, 0.815);
}
#reinaldinho {
    width: 180px;
    position: absolute;
}
#reis {
    width: 160px;
    position: absolute;
    left: 150px;
}
#felipe {
    width: 250px;
    position: absolute;
    top: -110px;
    left: -50px;
    
}
body {
    /* margin: 0;
    width: 100%;
    height: 100vh; */
    min-height: 100vh;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container label {
    font-size: 25px;
}

.center-container p {
    font-size: 20px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.qr-reader {
    width: 100%; /* O scanner ocupa 100% da largura disponível */
    max-width: 400px; /* Limita o tamanho máximo do scanner */
    margin: 0 auto; /* Centraliza o scanner */
    overflow: hidden; /* Esconde qualquer parte do scanner que ultrapasse o container */
    position: relative; /* Garante que o scanner fique dentro do container */
    margin-bottom: 25px;
    margin-top: 15px;
}
#reader {
    border: 0 !important;
}
#html5-qrcode-select-camera {
    display: none;
}
#html5-qrcode-anchor-scan-type-change {
    display: none;
}
#html5-qrcode-button-camera-stop {
    text-decoration: none !important;
    border-radius: 5px;
    margin-top: 1rem;
    color: #fff;
    background-color: #fa1919;
    border: 1px solid #fa1919;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 2.5rem;
    width: 88% !important;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    align-items: center;
    -webkit-appearance:
     none;
    -webkit-box-pack: center;
}
#html5-qrcode-button-camera-start{
    text-decoration: none !important;
    border-radius: 5px;
    margin-top: 1rem;
    color: #fff;
    background-color: #1989fa;
    border: 1px solid #1989fa;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 2.5rem;
    width: 88% !important;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    align-items: center;
    -webkit-appearance:
     none;
    -webkit-box-pack: center;
}

.result-container {
    text-align: center;
}

.green-button {
    background: rgb(255, 218, 0);
    background: linear-gradient(
        90deg,
        rgba(255, 218, 0, 1) 22%,
        rgba(0, 129, 255, 0.989233193277311) 78%
    );
    color: #2c2c2c;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}
.container-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 25px;
    gap: 10px;
}

label,
textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
}

textarea {
    border-radius: 10px;
    height: 30px;
    align-content: center;
}

.digitar button {
    background: rgb(255, 218, 0);
    background: linear-gradient(
        90deg,
        rgba(255, 218, 0, 1) 22%,
        rgba(0, 129, 255, 0.989233193277311) 78%
    );
    color: #2c2c2c;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.codigo {
    font-size: 30px;
}
#message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#success-message {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    font-size: 16px;
}

#success-message i {
    margin-right: 5px;
    font-size: 20px;
}

.material-symbols-outlined {
    font-size: 30px;
    font-weight: 500;
}

/* RESPONSIVIDADE MOBILE */

@media (min-width: 320px) and (max-width: 430px) {
    #reis {
        left: 120px;
    }
    #felipe {
        left: -80px;
    }
    #reinaldinho {
        left: 30px;
    }
    header h1 {
        font-size: 18px;
        text-align: center;
    }
    #message {
        flex-direction: column;
        text-align: center;
    }
}
