* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
header {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

header h1 {
    color: #2c2c2c;
    font-size: 20px;
    text-align: center;
}
/* 
header img {
    max-width: 100%;
    height: auto;
    padding-top: 100px; 
} */
.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
    top: 50px;
}
#reinaldinho {
    width: 180px;
    position: absolute;
}
#reis {
    width: 160px;
    position: absolute;
    left: 150px;
}
#felipe {
    width: 250px;
    position: absolute;
    top: -110px;
    left: -50px;
}
body {
    /* margin: 0;
    width: 100%;
    height: 100vh; */
    min-height: 100vh;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container label {
    font-size: 25px;
}

.center-container p {
    font-size: 20px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.qr-reader {
    width: 100%; /* O scanner ocupa 100% da largura disponível */
    max-width: 400px; /* Limita o tamanho máximo do scanner */
    margin: 0 auto; /* Centraliza o scanner */
    overflow: hidden; /* Esconde qualquer parte do scanner que ultrapasse o container */
    position: relative; /* Garante que o scanner fique dentro do container */
    margin-top: 50px;
}

.result-container {
    text-align: center;
}

.green-button {
    background: rgb(255, 218, 0);
    background: linear-gradient(
        90deg,
        rgba(255, 218, 0, 1) 22%,
        rgba(0, 129, 255, 0.989233193277311) 78%
    );
    color: #2c2c2c;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}
.container-button{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 10px;
}

label,
textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
}

textarea {
    border-radius: 10px;
    height: 30px;
    align-content: center;
}

.digitar button {
    background: rgb(255, 218, 0);
    background: linear-gradient(
        90deg,
        rgba(255, 218, 0, 1) 22%,
        rgba(0, 129, 255, 0.989233193277311) 78%
    );
    color: #2c2c2c;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;

}

.codigo {
    font-size: 30px;
}

/* RESPONSIVIDADE MOBILE */

@media (min-width: 320px) and (max-width: 480px) {
    #reis {
        left: 120px;
    }
    #felipe {
        left: -80px;
    }
    #reinaldinho {
        left: 30px;
    }
    header h1 {
        font-size: 18px;
        text-align: center;
    }
}
