* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

header h1 {
    color: #2c2c2c;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}
.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
    top: 50px;
}


#reinaldinho {
    width: 180px;
    position: absolute;
}
#reis {
    width: 160px;
    position: absolute;
    left: 150px;
}
#felipe {
    width: 250px;
    position: absolute;
    top: -110px;
    left: -50px;
}

footer {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px 0;
}


.busca {
    padding: 50px 0 0 0;
    justify-items: center;
    flex: 1;
    

}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1; /* Faz com que o container ocupe o espaço restante */
    padding: 20px;
    align-items: center;
    flex-direction: column-reverse;
}


    


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    #reis {
        left: 120px;
    }
    #felipe {
        left: -80px;
    }
    #reinaldinho {
        left: 30px;
    }
    header h1 {
        font-size: 18px;
        text-align: center;
    }
}
