* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

header h1 {
    color: #2c2c2c;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}
.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
    top: 50px;
}
.input-aptos {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

#reinaldinho {
    width: 180px;
    position: absolute;
}
#reis {
    width: 160px;
    position: absolute;
    left: 150px;
}
#felipe {
    width: 250px;
    position: absolute;
    top: -110px;
    left: -50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h2 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

footer {
    background: linear-gradient(
        -45deg,
        rgba(0, 129, 255, 0.989233193277311) 10%,
        rgba(255, 218, 0, 1) 40%,
        rgba(0, 129, 255, 0.989233193277311) 60%,
        rgba(255, 218, 0, 1) 90%
    );
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    width: 100%;
    height: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px 0;
}

/* -------------------------------------------- INICIO DA VISUALIZAÇÃO DAS SEÇÕES RESTANTES -------------------------------------------- */
.sections-panel-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sections-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.sections-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 350px;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
        0px 2px 3px rgba(0, 0, 0, 0.168);
}
.sections-info {
    display: flex;
    width: 100%;
    flex: 1;
}
ul {
    width: 100%;
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    padding: 0;
    margin: 0;
}
li {
    width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 5px; /* Para dar algum espaço entre os itens */
    background-color: #4395ff3f;
    border-radius: 10px;
    padding: 0.5rem;
    color: #000000;
    font-weight: 500;
}
.sections-panel-button:hover {
    background-color: #313131;
}
/* .material-symbols-outlined {
    font-size: 26px;
} */
#infoSecoes {
    width: 100%;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#infoSecoes p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #1778f2;
    padding: 10px;
    border-radius: 10px;
}
/* -------------------------------------------- FIM DA VISUALIZAÇÃO DAS SEÇÕES RESTANTES -------------------------------------------- */

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    flex: 1;
    align-items: center;
    align-items: center;
    margin-bottom: 50px;
}
.form-container {
    width: 1000px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
        0px 2px 3px rgba(0, 0, 0, 0.168);
}
.qtd-eleitores {
    font-size: 22px;
    font-weight: 600;
}
.eleitores-title {
    font-weight: 500;
    font-size: 16px;
}

.form-container button:active {
    scale: 0.95;
}
.form-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-group-eleitor {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
}

.form-group {
    margin-bottom: 16px;
    width: 100%;
}

/* -------------------------------------------------------------------------------*/
/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 29, 29, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
}

.modal-buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 10px; /* Distância entre os botões */
    margin-top: 20px;
}

.confirm-btn,
.cancel-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição para hover */
}

.confirm-btn {
    background-color: #28a745;
    color: white;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
}

.confirm-btn:hover {
    background-color: #218838;
    transform: scale(1.05); /* Efeito de zoom no hover */
}

.cancel-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.custom-error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
/*------------------------------------------------*/
.form-group-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.form-group-vereador {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
}
.button-delete {
    width: 50px;
    height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(255, 114, 109);
    color: white;
    font-size: 15px;
}
.button-delete:hover {
    background-color: rgb(255, 73, 66);
}
.names {
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
}

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
        0px 2px 3px rgba(0, 0, 0, 0.168);
}
#button-buscar-vereador {
    width: 30%;
}
#form-submit-btn-boletim {
    background-color: #1778f2;
}
#form-submit-btn-boletim:hover {
    background-color: #0f5f9b;
}
.form-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.form-header span {
    font-size: 22px;
    font-weight: 700;
    display: block;
}

.form-container .form-submit-btn:hover {
    background-color: #313131;
}
.search-buscar-vereador-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-weight: 400;
}

.form-container .link:hover {
    text-decoration: underline;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    #reis {
        left: 120px;
    }
    #felipe {
        left: -80px;
    }
    #reinaldinho {
        left: 30px;
    }
    header h1 {
        font-size: 18px;
        text-align: center;
    }
    .form-container {
        max-width: 360px;
    }
    .container {
        padding: 0;
    }
    .form-group-container {
        flex-direction: column;
        gap: 0px;
    }
    .search-buscar-vereador-container {
        flex-direction: column;
        gap: 0px;
    }
    #button-buscar-vereador {
        width: 100%;
    }
}
